#w{ margin:0.5em 1em;width:98%; height:auto; padding:0 0 0 0; background:#FFF; float:left; }

.area{ text-align:center ; border:none;}
	.status{ text-align:center ;}
.stat{text-align:center;   float:left; }
.stat{
	width: 15%;
   -webkit-transform: skew(-30deg); 
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);  
    transform: skew(-30deg);
	
}
.stat p { 
	margin:0 0 0 0 !important;
	line-height:2em;
	/*font-size:1.2em; */
   -webkit-transform: skew(30deg) !important;
	-moz-transform: skew(30deg) !important;
	-o-transform: skew(30deg) !important;
    transform: skew(30deg) !important; 

}
.stat a { color:#FFF;}
	.Default , .Default a{background-color: #ECF0F1 ; color: #000000 !important; }
	 .Locked  ,.Locked a {
        background-color: #BDC3C7 !important;
		Color:#454545;
       
    }
    .Available  ,.Available a {
        background: #78D33C !important;
       
    }
    .Reserved ,.Reserved a{
        background-color: #FD5532 !important;
       
    }
	 .Contract, .Contract a {
       
      background-color: #c10000 !important;
	
    }
    .Book ,.Book a{
        background-color: #F891C8 !important;   
		
    }
    .Sold , .Sold a {       
	 background-color: #4583EB !important;
     	
    }

.header{
float:left;
padding:10px 10px; 
width:100%;
border-radius:5px;
border:1px solid #A5B5EE;
position:relative;
}
.header h1{ font-size:2em; margin:0.5em 0.5em; float:left;color:#33338C;font-family:arial;position:relative; top:0em;}
.form-input{float:left; padding:3px 5px; /*font-family: "Times New Roman", Georgia, Serif;*/ font-size:12px;}
.form-input img{ width:20px; height:20px;padding:0 0 0 0;  position:relative}
.form-input label{ padding:2px 2px; clear:both;/*font-family: "Times New Roman", Georgia, Serif;*/font-size:12px;}
.clrBoth{clear:both;}
.form-input .normal-textbox{
font-size:12px;
top:-4px;margin:0px 0 0 0;
padding: 4px 5px; border:1px solid #b7deed; position:relative}

.formdiv{float:left;padding:10px 10px;}
.btn_s{ font-size:1em; padding:0.5em 1em 0.5em 1em ;background:#dcdcdc; font-weight:600;font-family:arial;
border:1px solid #ccc; border-radius:4px;cursor:pointer;float:left; margin:5px;}
.btn_s:hover{  opacity: 0.8;filter: alpha(opacity=80); /* For IE8 and earlier */}
.bg-red{ background:#C10000; color:#FFF;}
.btn.bg-red:hover { background:#ba2737 !important; color:#FFF;}
.btn-export{background:#5EBA59;color:#FFF; border-color:#5FB539;}
.btn-default_search{background:#33338C; color:#FFF; border-color:#2C2C78;}
.btn-submit{background:#07BDEB; color:#FFF; border-color:#06ADD7; }
.btn-delete{background:#EE6767; color:#FFF; border-color:#ED5A5A; }
.btn-cancel{background:#EEE; color:#666; border-color:#DDD; }
.btn-disabled{color:#CCC; }
.bg-blue{
background:#d4e4ef;
}
.nav-list{ background:#FFF;border:1px solid #A5B5EE; border-radius:5px;padding:0px 0px 5px 0; 
width:100%;float:left;}
.datagrid-row{font-size:0.2em !important;}
.fa {  font-weight:bold; }
.fa a { font-weight:bold; }

#unit-table{
 border-collapse: collapse;
 color:#333;
 margin:10px;
 border:1px solid #1E90FF ;
 font-size:1em;
 font-family: tahoma;

}
#unit-table th{ font-size:1.2em !important; padding:10px 5px;
  border:1px solid #CCC;
  background: -webkit-linear-gradient(-90deg, rgba(255,255,255,1) 0, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 3%, rgba(255,255,255,1) 5%, rgba(197,212,221,1) 98%, rgba(197,212,221,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 3%, rgba(255,255,255,1) 5%, rgba(197,212,221,1) 98%, rgba(197,212,221,1) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 3%, rgba(255,255,255,1) 5%, rgba(197,212,221,1) 98%, rgba(197,212,221,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}
#unit-table tbody tr{border-bottom:5px solid #FFF ; border-top:none;}

#unit-table TD{
 vertical-align:top;
 padding:0px 0px;
 text-align:center;

}
#unit-table div{width:80%;Display:block;  float:left;}

#unit-table td p{ font-weight:normal; float:left;margin:0 0 0 0px;  padding: 3px 0 0 0;}
#unit-table label{ font-weight:700;  float:left; min-width:60px;display:block;  text-align:left; margin-left:3px;}
#unit-table span{ font-weight:normal; float:left; margin-left:3px;line-height:1.4em;min-width:70px;text-align:left}
#unit-table td.odd{background:#f2f2f2 !important;}
#unit-table td.even{background:#F9f9f9 !important;}
#unit-table button{	
	font-size: 0.9em;
	font-weight:700;
	 display:table-cell;
	 text-align:center;
	 color:#4Fc1E9;
	float:none;
	 font-family:tahoma;
	 /*border-radius: 30%; */
		border:1px solid #B5D0EA;
	 background:#FFF; 
	}
/*td.state{border-left:10px solid #EEE;} */
#unit-table td div.state{background:#000;min-height:90px;width:10px;float:left;display:block;position:relative;top:0;left:0; }

/*#unit-table th.state{border-left:10px solid #EEE;} */
/*#unit-table td.available{border-color:#78D33C !important;}
#unit-table td.Reserved{border-color:#FD5532 !important;}
#unit-table td.Contract{border-color:#c10000 !important;}
#unit-table td.Book{border-color:#F891C8 !important;}
#unit-table td.Sold{border-color:#4583EB !important;} */
 #unit-table .btnstatus {
	 font-size: 0.9em;
	/* display:block;*/
	 text-align:center;
	 width:50px !important;
	 float:right;
	
	 vertical-align:middle !important; 
	  padding:2px !important ;
	  margin-right:3px;
	 font-family:tahoma;
	 border-radius: 5px;
	 border:1px solid #eee;

	 }

  .Available  ,.Available a {
        background: #78D33C !important;
        color:#333;
    }
    .Reserved ,.Reserved a{
        background-color: #FD5532 !important;
		  color:#FFF;
	
       
    }
	 .Contract, .Contract a {
       
      background-color: #c10000 !important;
	  color:#FFF;
	
    }
    .Book ,.Book a{
        background-color: #F891C8 !important;   
		
    }
    .Sold , .Sold a {       
	 background-color: #4583EB !important;
	   color:#FFF;
	
     	
    }
	.NotiColor{       
	 background: #FADDD3 !important;
     	
    }


/**** Test ***/
.cd-breadcrumb, .cd-multi-steps {
  width: 90%;
  max-width: 768px;
  padding: 0.5em 1em;
  margin: 1em auto;
  background-color: #edeff0;
  border-radius: .25em;
}
.cd-breadcrumb:after, .cd-multi-steps:after {
  content: "";
  display: table;
  clear: both;
}
.cd-breadcrumb li, .cd-multi-steps li {
  display: inline-block;
  float: left;
  margin: 0.5em 0;
}
.cd-breadcrumb li::after, .cd-multi-steps li::after {
  /* this is the separator between items */
  display: inline-block;
  content: '\00bb';
  margin: 0 .6em;
  color: #959fa5;
}
.cd-breadcrumb li:last-of-type::after, .cd-multi-steps li:last-of-type::after {
  /* hide separator after the last item */
  display: none;
}
.cd-breadcrumb li > *, .cd-multi-steps li > * {
  /* single step */
  display: inline-block;
  font-size: 1.4em;
  color: #2c3f4c;
}
.cd-breadcrumb li.current > *, .cd-multi-steps li.current > * {
  /* selected step */
  color: #96c03d;
}

.no-touch .cd-breadcrumb a:hover, .no-touch .cd-multi-steps a:hover {
  /* steps already visited */
  color: #96c03d;
}
.cd-breadcrumb.custom-separator li::after, .cd-multi-steps.custom-separator li::after {
  /* replace the default arrow separator with a custom icon */
  content: '';
  height: 16px;
  width: 16px;
  background: url(../img/cd-custom-separator.svg) no-repeat center center;
  vertical-align: middle;
}
.cd-breadcrumb.custom-icons li > *::before, .cd-multi-steps.custom-icons li > *::before {
  /* add a custom icon before each item */
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: .4em;
  margin-top: -2px;
  background: url(../img/cd-custom-icons-01.svg) no-repeat 0 0;
  vertical-align: middle;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(2) > *::before {
  /* change custom icon using image sprites */
  background-position: -20px 0;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(3) > *::before {
  background-position: -40px 0;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(4) > *::before {
  background-position: -60px 0;
}
.cd-breadcrumb.custom-icons li.current:first-of-type > *::before, .cd-multi-steps.custom-icons li.current:first-of-type > *::before {
  /* change custom icon for the current item */
  background-position: 0 -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(2) > *::before {
  background-position: -20px -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(3) > *::before {
  background-position: -40px -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(4) > *::before {
  background-position: -60px -20px;
}
@media only screen and (min-width: 768px) {
  .cd-breadcrumb, .cd-multi-steps {
    padding: 0 1.2em;
  }
  .cd-breadcrumb li, .cd-multi-steps li {
    margin: 1.2em 0;
  }
  .cd-breadcrumb li::after, .cd-multi-steps li::after {
    margin: 0 1em;
  }
  .cd-breadcrumb li > *, .cd-multi-steps li > * {
   font-size: 1.4em;
  }
}

/* -------------------------------- 

Triangle breadcrumb

-------------------------------- */
@media only screen and (min-width: 768px) {
  .cd-breadcrumb.triangle {
    /* reset basic style */
    background-color: transparent;
    padding: 0;
  }
  .cd-breadcrumb.triangle li {
    position: relative;
    padding: 0;
    margin: 4px 4px 4px 0;
  }
  .cd-breadcrumb.triangle li:last-of-type {
    margin-right: 0;
  }
  .cd-breadcrumb.triangle li > * {
    position: relative;
    padding: 1em .8em 1em 2.5em;
    color: #2c3f4c;
    background-color: #edeff0;
    /* the border color is used to style its ::after pseudo-element */
    border-color: #edeff0;
  }
  .cd-breadcrumb.triangle li.current > * {
    /* selected step */
    color: #ffffff;
    background-color: #96c03d;
    border-color: #96c03d;
  }
   .cd-breadcrumb.triangle li.default > * {
    /* selected step */
    color: #ffffff;
    background-color: #78D33C;
    border-color: #96c03d;
  }
  .cd-breadcrumb.triangle li.Locked > * {
    /* selected step */
    color: #ffffff;
    background-color: #BDC3C7;
    border-color: #96c03d;
  }
  .cd-breadcrumb.triangle li:first-of-type > * {
    padding-left: 1.6em;
    border-radius: .25em 0 0 .25em;
  }
  .cd-breadcrumb.triangle li:last-of-type > * {
    padding-right: 1.6em;
    border-radius: 0 .25em .25em 0;
  }
  .no-touch .cd-breadcrumb.triangle a:hover {
    /* steps already visited */
    color: #ffffff;
    background-color: #2c3f4c;
    border-color: #2c3f4c;
  }
  .cd-breadcrumb.triangle li::after, .cd-breadcrumb.triangle li > *::after {
    /* 
    	li > *::after is the colored triangle after each item
    	li::after is the white separator between two items
    */
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    content: '';
    height: 0;
    width: 0;
    /* 48px is the height of the <a> element */
    border: 24px solid transparent;
    border-right-width: 0;
    border-left-width: 20px;
  }
  .cd-breadcrumb.triangle li::after {
    /* this is the white separator between two items */
    z-index: 1;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    border-left-color: #ffffff;
    /* reset style */
    margin: 0;
  }
  .cd-breadcrumb.triangle li > *::after {
    /* this is the colored triangle after each element */
    z-index: 2;
    border-left-color: inherit;
  }
  .cd-breadcrumb.triangle li:last-of-type::after, .cd-breadcrumb.triangle li:last-of-type > *::after {
    /* hide the triangle after the last step */
    display: none;
  }
  .cd-breadcrumb.triangle.custom-separator li::after {
    /* reset style */
    background-image: none;
  }
  .cd-breadcrumb.triangle.custom-icons li::after, .cd-breadcrumb.triangle.custom-icons li > *::after {
    /* 50px is the height of the <a> element */
    border-top-width: 25px;
    border-bottom-width: 25px;
  }

  @-moz-document url-prefix() {
    .cd-breadcrumb.triangle li::after,
    .cd-breadcrumb.triangle li > *::after {
      /* fix a bug on Firefix - tooth edge on css triangle */
      border-left-style: dashed;
    }
  }
}
/* -------------------------------- 

Custom icons hover effects - breadcrumb and multi-steps

-------------------------------- */
@media only screen and (min-width: 768px) {
  .no-touch .cd-breadcrumb.triangle.custom-icons li:first-of-type a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:first-of-type em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:first-of-type a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:first-of-type em::before {
    /* change custom icon using image sprites - hover effect or current item */
    background-position: 0 -40px;
  }
  .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(2) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(2) em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(2) a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(2) em::before {
    background-position: -20px -40px;
  }
  .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(3) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(3) em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(3) a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(3) em::before {
    background-position: -40px -40px;
  }
  .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(4) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(4) em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(4) a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(4) em::before {
    background-position: -60px -40px;
  }
}
/* -------------------------------- 

Multi steps indicator 

-------------------------------- */
@media only screen and (min-width: 768px) {
  .cd-multi-steps {
    /* reset style */
    background-color: transparent;
    padding: 0;
    text-align: center;
  }

  .cd-multi-steps li {
    position: relative;
    float: none;
    margin: 0.4em 40px 0.4em 0;
  }
  .cd-multi-steps li:last-of-type {
    margin-right: 0;
  }
  .cd-multi-steps li::after {
    /* this is the line connecting 2 adjacent items */
    position: absolute;
    content: '';
    height: 4px;
    background: #edeff0;
    /* reset style */
    margin: 0;
  }
  .cd-multi-steps li.visited::after {
    background-color: #96c03d;
  }
  .cd-multi-steps li > *, .cd-multi-steps li.current > * {
    position: relative;
    color: #2c3f4c;
  }

  .cd-multi-steps.custom-separator li::after {
    /* reset style */
    height: 4px;
    background: #edeff0;
  }

  .cd-multi-steps.text-center li::after {
    width: 100%;
    top: 50%;
    left: 100%;
    -webkit-transform: translateY(-50%) translateX(-1px);
    -moz-transform: translateY(-50%) translateX(-1px);
    -ms-transform: translateY(-50%) translateX(-1px);
    -o-transform: translateY(-50%) translateX(-1px);
    transform: translateY(-50%) translateX(-1px);
  }
  .cd-multi-steps.text-center li > * {
    z-index: 1;
    padding: .6em 1em;
    border-radius: .25em;
    background-color: #edeff0;
  }
  .no-touch .cd-multi-steps.text-center a:hover {
    background-color: #2c3f4c;
  }
  .cd-multi-steps.text-center li.current > *, .cd-multi-steps.text-center li.visited > * {
    color: #ffffff;
    background-color: #96c03d;
  }
    .cd-multi-steps.text-center li.default > *, .cd-multi-steps.text-center li.visited > * {
    color: #ffffff;
    background-color: #9DDDDD;
  }
  .cd-multi-steps.text-center.custom-icons li.visited a::before {
    /* change the custom icon for the visited item - check icon */
    background-position: 0 -60px;
  }

  .cd-multi-steps.text-top li, .cd-multi-steps.text-bottom li {
    width: 80px;
    text-align: center;
  }
  .cd-multi-steps.text-top li::after, .cd-multi-steps.text-bottom li::after {
    /* this is the line connecting 2 adjacent items */
    position: absolute;
    left: 50%;
    /* 40px is the <li> right margin value */
    width: calc(100% + 40px);
  }
  .cd-multi-steps.text-top li > *::before, .cd-multi-steps.text-bottom li > *::before {
    /* this is the spot indicator */
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #edeff0;
  }
  .cd-multi-steps.text-top li.visited > *::before,
  .cd-multi-steps.text-top li.current > *::before, .cd-multi-steps.text-bottom li.visited > *::before,
  .cd-multi-steps.text-bottom li.current > *::before {
    background-color: #96c03d;
  }
    .cd-multi-steps.text-top li.default > *::before,  .cd-multi-steps.text-bottom li.default > *::before {
	 background-color: #DDDDDD;
	}
	  .cd-multi-steps.text-top li.default > *::after,  .cd-multi-steps.text-bottom li.default > *::after {
	 background-color: #DDDDDD;
	}
  .no-touch .cd-multi-steps.text-top a:hover, .no-touch .cd-multi-steps.text-bottom a:hover {
    color: #96c03d;
  }
  .no-touch .cd-multi-steps.text-top a:hover::before, .no-touch .cd-multi-steps.text-bottom a:hover::before {
    box-shadow: 0 0 0 3px rgba(150, 192, 61, 0.3);
  }

  .cd-multi-steps.text-top li::after {
    /* this is the line connecting 2 adjacent items */
    bottom: 4px;
  }
  .cd-multi-steps.text-top li > * {
    padding-bottom: 20px;
  }
  .cd-multi-steps.text-top li > *::before {
    /* this is the spot indicator */
    bottom: 0;
  }

  .cd-multi-steps.text-bottom li::after {
    /* this is the line connecting 2 adjacent items */
    top: 3px;
  }
  .cd-multi-steps.text-bottom li > * {
    padding-top: 20px;
  }
  .cd-multi-steps.text-bottom li > *::before {
    /* this is the spot indicator */
    top: 0;
  }
}
/* -------------------------------- 

Add a counter to the multi-steps indicator 

-------------------------------- */
.cd-multi-steps.count li {
  counter-increment: steps;
}

.cd-multi-steps.count li > *::before {
  content: counter(steps) " - ";
}

@media only screen and (min-width: 768px) {
  .cd-multi-steps.text-top.count li > *::before,
  .cd-multi-steps.text-bottom.count li > *::before {
    /* this is the spot indicator */
    content: counter(steps);
    height: 26px;
    width: 26px;
    line-height: 26px;
    font-size: 1.4rem;
    color: #ffffff;
  }

  .cd-multi-steps.text-top.count li:not(.current) em::before,
  .cd-multi-steps.text-bottom.count li:not(.current) em::before {
    /* steps not visited yet - counter color */
    color: #2c3f4c;
  }

  .cd-multi-steps.text-top.count li::after {
    bottom: 11px;
  }

  .cd-multi-steps.text-top.count li > * {
    padding-bottom: 34px;
  }

  .cd-multi-steps.text-bottom.count li::after {
    top: 11px;
  }

  .cd-multi-steps.text-bottom.count li > * {
    padding-top: 34px;
  }
}
