@charset "utf-8";
/* CSS Document */

body{
	padding:0;
	margin:0;
	width:100%;
	background:#FFFFFF;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;

}
img{
	border:0;
	padding:0;
	margin:0;
}
.wrapper{
	position:relative;
	float:left;
	width:100%;
	padding:0;
	margin:0;
	border:0;
		background:#FFFFFF;
	padding:0.5em;
}
.wrapperContent{
	position:relative;
	padding:0;
	margin:0 auto auto auto;
	border:0;
		float:left;
			background:#FFFFFF;
	padding:0.5em;
	
}
#header{
	height:150px;
	background:#ffffff;
}
#menuAhover{
	position:relative;
	width:121px;
	height:51px;
	border:0;
	padding:0;
	margin:0;
	background:url(../images/menu_over_01.jpg) no-repeat;
}
#menuA{
	position:relative;
	width:121px;
	height:51px;
	border:0;
	padding:0;
	margin:0;
	background:url(../images/menu_01.jpg) no-repeat;
}
#menuA:hover{
	background:url(../images/menu_over_01.jpg) no-repeat;
}
#menuBhover{
	position:relative;
	width:121px;
	height:51px;
	border:0;
	padding:0;
	margin:0;
	background:url(../images/menu_over_02.jpg) no-repeat;
}
#menuB{
	position:relative;
	width:121px;
	height:51px;
	border:0;
	padding:0;
	margin:0;
	background:url(../images/menu_02.jpg) no-repeat;
}
#menuB:hover{
	background:url(../images/menu_over_02.jpg) no-repeat;
}
#menuC{
	position:relative;
	width:121px;
	height:51px;
	border:0;
	padding:0;
	margin:0;
	background:url(../images/menu_03.jpg) no-repeat;
}
#menuC:hover{
	background:url(../images/menu_over_03.jpg) no-repeat;
}
#menuChover{
	position:relative;
	width:121px;
	height:51px;
	border:0;
	padding:0;
	margin:0;
	background:url(../images/menu_over_03.jpg) no-repeat;
}
#menuD{
	position:relative;
	width:121px;
	height:51px;
	border:0;
	padding:0;
	margin:0;
	background:url(../images/menu_04.jpg) no-repeat;
}
#menuD:hover{
	background:url(../images/menu_over_04.jpg) no-repeat;
}
#menuE{
	position:relative;
	width:121px;
	height:51px;
	border:0;
	padding:0;
	margin:0;
	background:url(../images/menu_05.jpg) no-repeat;
}
#menuE:hover{
	background:url(../images/menu_over_05.jpg) no-repeat;
}
#menuF{
	position:relative;
	width:121px;
	height:51px;
	border:0;
	padding:0;
	margin:0;
	background:url(../images/menu_03.png) no-repeat;
}
#menuF:hover{
	background:url(../images/menu_over_03.png) no-repeat;
}
#menuFhover{
	position:relative;
	width:121px;
	height:51px;
	border:0;
	padding:0;
	margin:0;
	background:url(../images/menu_over_03.png) no-repeat;
}
.link a{
	color:#1c2552;
	text-decoration:none;
}
#wHeader{
	background:#ffffff;
}
#wContent{
	background:url(../images/body_bg.jpg) repeat-x;

}
#wFooter{
	background:#ffffff;
}
.hTopic{
	background:url(../images/bar.jpg);
	position:relative;
	width:100%;
	height:40px;
	padding:0;
	margin:0;
	display:table-cell;
	vertical-align:middle;	
	float:left;
		
}

.cTopic{

	width:100%;
	padding:0.5em;
	margin:0;
	background:#ffffff;
	float:left;

}
.cTopic2{
	position:relative;
	width:100%;
	padding:0;
	margin:0 30px 30px 10px;
	background:#ffffff;
}
.line{
	border:0;
	border-bottom:1px solid #d3d3d3;
}
.textStyle{
	position:relative;
	border:1px solid #d3d3d3;
	margin-right:5px;
	padding-left:10px;
}
.textStyle2{
	position:relative;
	border:1px solid #FF7F00;
	margin-right:5px;
	padding-left:10px;
	background-color:#FF7F00;
}
.selectStyle{
	position:relative;
	border:1px solid #d3d3d3;
	margin-right:5px;
	padding-left:5px;
}
.textLabel30{
	position:relative;
	height:auto;
	display:table-cell;
	vertical-align:middle;
}
.lineEndContent{
	position:relative;
	width:100%;
	height:5px;
	background:#1c2552;
	border:0;
}
.lineEndFooter{
	position:relative;
	width:100%;
	height:50px;
	background:#d3d3d3;
	border:0;
}
.height20{
	height:20px;
}
.height20 a{
	color:#000000;
	text-decoration:none;
}


.popup_content{
		position:relative;
	background:#FFFFFF;
	padding:0.5em;
		float:left;
		width:100%;

	
	}
	
	
	 .wrapper select{height:25px; line-height:25px}
	
	
	
	