<IfModule mod_php5.c>
	php_flag register_globals on
	php_value date.timezone "Asia/Bangkok"
	php_value post_max_size 10240M
	php_value upload_max_filesize 10240M
	php_value memory_limit 10240M
	php_value max_execution_time 259200
	php_value max_input_time 259200
	php_value set_time_limit 0
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /MOAIMB-Webview/
	#RewriteBase /

    RewriteCond %{REQUEST_URI} ^system.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]


    RewriteCond %{REQUEST_URI} ^application.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]


    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    # If we don't have mod_rewrite installed, all 404's
    # can be sent to index.php, and everything works as normal.
    # Submitted by: ElliotHaughin

    ErrorDocument 404 /index.php
</IfModule>